#haber-1A-image {
    width: 650px;
    height: 510px;
}




#sagUstImg{
    height: 250px;
    margin: 5px;
    object-fit: fill;
    
}


#c-haber-container{
   
}

.video-date{
    text-align: right;  
}

.c-haber-image{
    width: 250px;
    height: 200px;
    margin: 5px;
    padding: 2px;
    border: 5px solid red;
    object-fit: fill;
}



#haberbaslikC4{
    margin-left:150px;
}